/*============================
=            Base            =
============================*/

hr {
	border-top: 1px dashed lighten($pencil, 30);
	border-width: 1px 0 0 0;
	margin: $ms-base*4 0;
}

img {
	width: 100%;
}

/*=====  End of Base  ======*/
