doctype html
html
	head
		block head
			block title
				title= title ? title + " | " + site.title : site.title
			block styles
				link(rel="stylesheet" href="http://localhost:3000/main.css")

			// fonts from typekit
			script(src="https://use.typekit.net/kgu3bag.js")
			script.
				try{Typekit.load({ async: true });}catch(e){}
	body
		block body
			aside#layout-aside
				header Site Name
				nav
					each link in navigation
						a(href=link.url)= link.name

			main#layout-main
				block main

				footer#layout-footer
					a(href="http://localhost:3000/guide.html") Content Guide