doctype html
html
	head
		block head
			block title
				title= title ? title + " | " + site.title : site.title
			block styles
				link(rel="stylesheet" href="./main.css")

			// fonts from typekit
			script(src="https://use.typekit.net/kgu3bag.js")
			script.
				try{Typekit.load({ async: true });}catch(e){}
	body
		block body
			aside#layout-aside
				nav
					h4 Nav
					each link in [ { name:"Blog", url:"index.html" }, { name:"Writer's Guide", url:"guide.html" }, { name:"Map", url:"http://google.com" } ]
						a(href=link.url)= link.name
			main#layout-main
				block main

				footer#layout-footer
					p footer text