doctype html
html
	head
		block head
			block title
				title= title ? title + " | " + site.title : site.title
			block styles
	body
		block body
			aside#aside
				h3 Nav
				ul
					each link in [ { name:"Home", url:"http://google.com" }, { name:"Source", url:"https://github.com" }, { name:"Map", url:"http://google.com" } ]
						li
							a(href=link.url)= link.name
			#layout-main
				block main